.productsWrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  background: var(--bg-wihte);
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../images/products_bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  overflow: hidden;
}
.productsSideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 25px;
  padding-left: 25px;
  width: 300px;
  height: 100vh;
  padding-top: 120px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
}
.productsSelectAllCheckbox {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.productsMenuDeleteAll {
  cursor: pointer;
}
.productsMenuSelectAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.products {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.productsFilter {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;
}
@media (max-width: 765px) {
  .productsWrapper {
    flex-direction: column;
  }
  .products {
    padding-top: 170px;
  }
  .productsSideMenu {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    padding-top: 100px;
  }
  .productsMenuDeleteAll {
    margin-left: 25px;
  }
  .productsFilterMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .productsFilter {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 15px;
  }
}
@media (max-width: 652px) {
  .productsSideMenu {
    flex-wrap: wrap;
  }
  .productsFilter {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .productsSideMenu {
    padding-top: 80px;
    height: 190px;
  }
}
