* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  /* Text font */
  font-family: "Andika New Basic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */
  /* --logo-blue: #4ecdc4; */
  --logo-blue: #00c6bd;
  /* --green: #065a60; */
  --green: #0b213d;
  /* --light-green: #065a60; */
  --light-green: #1b857f;
  --bg-white: #e6e6e6;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
  height: 0;
}
body {
  min-height: 100vh;
  /* padding-top: 80px; */
  background: var(--bg-white) !important;
  /* background: var(--green) !important; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
