.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../images/products_bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  overflow-x: hidden;
}
.categoriesWrapper {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 25px;
  width: 90%;
  color: white;
}
.categoriesTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.categoriesTitle {
  text-align: center;
  font-size: 2.5rem;
}
.categoriesCreateTitle {
  margin-bottom: 15px;
}
.categoriesBot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}
.categoriesBotLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 5px;
}
.categoriesForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}
.categoriesForm > input {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  outline: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.categoriesForm > label {
  font-size: 1.2rem;
  font-weight: bold;
}
.categoriesForm > button {
  background: var(--green);
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  color: white;
  cursor: pointer;
}
.categoriesCol {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  color: white;
}
.categoriesRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(6, 90, 96, 0.7));
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
}
.categoriesRow > p {
  font-size: 1.2rem;
}
.categoriesRowButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categoriesEditBtn {
  background: var(--green);
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  color: white;
  cursor: pointer;
}
.categoriesDeleteBtn {
  background: rgb(97, 97, 97);
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  color: white;
  cursor: pointer;
}
.categoriesRowButtons > button {
  margin: 15px;
}
@media (max-width: 700px) {
  .categoriesWrapper {
    flex-direction: column;
  }
}
